$dark: #212121;
$black: #191a19;

$light: #e2fbff;
$white: #f6f6f6;

$primary: #112d4e;

$muted: rgba(
  $color: $dark,
  $alpha: 0.75,
);

$gray-500: $muted;
$text-muted: $muted;

$h1-font-size: 2.4rem;
$h2-font-size: 2.2rem;
$h3-font-size: 2rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;

$input-font-size: 0.95rem;

$border-color: $muted;
$border-radius: 1rem;

$btn-close-opacity: 1;

$box-shadow: 0 0 20px rgba($dark, $alpha: 0.15);

$transition-base: all 0.3s ease-in-out;

$transition-collapse: $transition-base;

$offcanvas-transition-duration: 0.3s;

$modal-fade-transform: scale(0.9);

$hr-border-width: 1px;
$hr-opacity: 0.5;

a {
  text-decoration: none !important;
  color: $text-muted !important;
  transition: $transition-base !important;
}

.list-group {
  .list-group-item {
    background: none;
    border: none;
  }
}

.btn {
  background: none !important;
  border: none !important;

  &:active,
  &:focus {
    box-shadow: none !important;
  }
}

.btn.btn-close {
  position: relative;
  transition: $transition-base;

  i,
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-dark {
  color: $white !important;

  &:active {
    background: darken($color: $dark, $amount: 2) !important;
    box-shadow: $box-shadow !important;
  }
}

.btn-light {
  color: $black !important;

  &:active {
    background: darken($color: $light, $amount: 2) !important;
    box-shadow: $box-shadow !important;
  }
}

.btn.text-muted {
  color: $muted !important;
  &:hover,
  &:active {
    color: $dark !important;
    transition: $transition-base !important;
  }
}

.card {
  .card-header,
  .card-footer {
    background: none !important;
  }
}

.card.bg-dark.card-daily-weather {
  cursor: pointer;
  transition: $transition-base;

  &:hover {
    background: darken($color: $dark, $amount: 2) !important;
    box-shadow: $box-shadow !important;
  }
}

.card.bg-white.card-daily-weather {
  cursor: pointer;
  transition: $transition-base;

  &:hover {
    background: darken($color: $light, $amount: 2) !important;
    box-shadow: $box-shadow !important;
  }
}

input.input-dark {
  background: none !important;
  border: 1px solid rgba($color: $light, $alpha: 0.5) !important;
  color: $light !important;

  &:focus {
    box-shadow: 0 0 3px rgba($color: $white, $alpha: 0.5) !important;
    caret-color: $light !important;
    color: $white !important;
  }

  &::placeholder {
    color: $white !important;
  }
}

input.input-light {
  background: none !important;
  border: 1px solid rgba($color: $dark, $alpha: 0.5) !important;
  color: $black !important;

  &:focus {
    box-shadow: 0 0 3px rgba($color: $dark, $alpha: 0.5) !important;
    caret-color: $dark !important;
    color: $black !important;
  }

  &::placeholder {
    color: $muted !important;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

hr.hr-black {
  background: $black !important;
  color: $black !important;
}

hr.hr-white {
  background: $white !important;
  color: $white !important;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;

  #offcanvas-search-city {
    .offcanvas-body {
      .btn {
        .country-img-box {
          width: 28px;
          height: 28px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  .offcanvas {
    transition: $offcanvas-transition-duration !important;
  }
}

body.bg-black {
  ::-webkit-scrollbar-thumb {
    background: $light;
  }
}

body.bg-light {
  ::-webkit-scrollbar-thumb {
    background: $dark;
  }
}

.app {
  width: 100%;
  height: 100%;
  nav {
    .offcanvas {
      .list-group {
        .list-group-item {
          #avatar-developer {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }

  header {
    border-radius: 0 0 30% 30%;
  }

  main {
    margin-top: -50px;
    img.img-day {
      filter: drop-shadow(0 0 30px rgba($dark, $alpha: 0.5));
    }
  }

  footer {
    #daily-weather {
      overflow-x: scroll;
      .card {
        .card-header {
          img.img-day {
            filter: drop-shadow(0 0 15px rgba($dark, $alpha: 0.5));
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .app {
    border-radius: $border-radius;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
