$dark: #212121;
$black: #191a19;

$light: #e2fbff;
$white: #f6f6f6;

$primary: #112d4e;

$muted: rgba(
  $color: $dark,
  $alpha: 0.75,
);

$text-muted: $muted;

$h1-font-size: 3.2rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2.6rem;
$h4-font-size: 2.4rem;
$h5-font-size: 1.8rem;
$h6-font-size: 1.4rem;

$input-font-size: 1rem;

$border-color: $text-muted;
$border-radius: 1rem;
$box-shadow: 0 0 20px rgba($dark, $alpha: 0.15);

$dropdown-link-color: $muted;
$dropdown-link-hover-bg: $light;
$dropdown-link-hover-color: $dark;

$transition-base: all 0.3s ease-out;

$modal-fade-transform: scale(0.9);

$hr-border-width: 2px;

p {
  font-size: 1rem !important;
}

a {
  text-decoration: none !important;
  color: $text-muted !important;
  transition: $transition-base !important;
}

.list-group {
  .list-group-item {
    background: none;
    border: none;
  }
}

.btn.text-muted {
  &:hover {
    color: $dark !important;
    transition: $transition-base !important;
  }
}

.card-header,
.card-footer {
  background: none !important;
}

input.bg-dark {
  border: 1px solid rgba($color: $white, $alpha: 0.5);
  color: $white;

  &:focus {
    box-shadow: 0 0 3px rgba($color: $white, $alpha: 0.5);
    caret-color: $white;
    color: $white;
  }

  &::placeholder {
    color: $white;
  }
}

input.bg-light {
  border: 1px solid rgba($color: $black, $alpha: 0.5);
  color: $black;

  &:focus {
    box-shadow: 0 0 3px rgba($color: $black, $alpha: 0.5);
    caret-color: $black;
    color: $black;
  }

  &::placeholder {
    color: $muted;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

hr.hr-black {
  background: $black !important;
  color: $black !important;
}

hr.hr-white {
  background: $white !important;
  color: $white !important;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  // overflow: hidden;
  overflow-y: scroll;
}

body.bg-black {
  ::-webkit-scrollbar-thumb {
    background: $light;
    border-radius: 3rem;
  }
}

body.bg-light {
  ::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 3rem;
  }
}

.app {
  height: 100vh;
  overflow-y: scroll;
  nav {
    .offcanvas {
      .list-group {
        .list-group-item {
          #avatar-developer {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }

  header {
    border-radius: 0 0 30% 30%;
  }

  main {
    margin-top: -70px;
    img.img-day {
      filter: drop-shadow(0 0 30px rgba($dark, $alpha: 0.5));
    }
  }

  footer {
    #daily-weather {
      overflow-x: scroll;
      .card {
        .card-header {
          img.img-day {
            filter: drop-shadow(0 0 15px rgba($dark, $alpha: 0.5));
          }
        }
      }
    }
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
